<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"> </SCRIPT>
                <TITLE>Star Wars Movie Guide</TITLE>

                <LINK rel="shortcut icon" href="../static/images/icon.png?{{ cache_id }}" />

                <LINK rel="stylesheet" href="../static/styles/common.css?{{ cache_id }}"/>
                <LINK rel="stylesheet" href="../static/styles/header.css?{{ cache_id }}"/>
                <LINK rel="stylesheet" href="../static/styles/3-footer.css?{{ cache_id }}"/>
                <LINK rel="stylesheet" href="../static/styles/index.css?cache_id={{ cache_id }}"/>
                <SCRIPT SRC="../static/scripts/index.js?{{ cache_id }}"></SCRIPT>
        </HEAD>
    <BODY>
                <HEADER>
                  <div id="header_logo"></div>
		  <DIV class="header_name">Star Wars Movie Guide</DIV>
		  <NAV>
		    <UL class="nav">
		      <LI><A href="/">Home</A></LI>
		      <LI><A href="movies">Films</A></LI>
		      <LI class="features"><A href="">Features</A>
			<UL class="popover">
			  <LI><A href="#movie_list">Comprehensive movie list</A></LI>
			  <LI><A href="#movie_details">In-depth movie details</A></LI>
			  <LI><A href="#characters">Iconic character showcase</A></LI>
			</UL>
		      </LI>
		      <LI><A href="">Resources</A></LI>

		  </UL>
		  </NAV>
		  <DIV class="sign"><A href="signup">Sign Up</A></DIV>
		  <DIV class="login"><A href="login">Log In</A></DIV>


                </HEADER>
                <DIV class="container">
                  <SECTION>
		    <ARTICLE class="cta">
		      <H1>Explore the galaxy far, far away with ease.</H1>
		      <H2>
			Embark on an epic journey through the Star Wars universe with our comprehensive Movie Guide. Uncover the secrets of your favorite films, delve into the rich lore, and explore the captivating characters that have captured the hearts of millions across the galaxy. Whether you're a die-hard fan or a newcomer to the franchise, our Star Wars Movie Guide is your ultimate companion. Join us now and may the Force be with you on this incredible adventure!
		      </H2>
		      <!-- Start now button for create account -->
		    </ARTICLE>
                  </SECTION>
		  <SECTION id="movie_list">
		    <ARTICLE>
		      <H1>
			Comprehensive Movie List
		      </H1>
		      <H2>
			Dive into the Star Wars universe with our comprehensive movie list. Each film is beautifully displayed, showcasing its title, release year, and a captivating poster image. Explore the galaxy by simply clicking on any movie for more details.
		      </H2>
		    </ARTICLE>
		  </SECTION>
		  <SECTION id="movie_details">
		    <ARTICLE>
		      <H1>
			In-Depth Movie Details
		      </H1>
		      <H2>
			Uncover the secrets of each Star Wars film with our in-depth movie details. From the title, release year, and director, to the main characters, plot summary, and exciting insights, get a comprehensive overview of the storyline and key elements that make each movie memorable.
		      </H2>
		    </ARTICLE>
		  </SECTION>
		  <SECTION id="characters">
		    <ARTICLE>
		      <H1>
			Iconic Character Showcase
		    </H1>
		    <H2>
		      Get to know the iconic characters from the Star Wars saga with our character showcase. Dive into a gallery featuring stunning images, names, and captivating descriptions of each character. Discover their roles, backgrounds, and remarkable traits or abilities that have captivated fans for generations.
		    </H2>
		    </ARTICLE>
		  </SECTION>
		  <SECTION id="get_started">
		    <ARTICLE>
		      <H1>
			Ready to get started?
		      </H1>
		      <H2>
			Create an account instantly and start immersing yourself in the Star Wars universe like never before.
		      </H2>
		      <!-- Start Now button for create account -->
		    </ARTICLE>
		  </SECTION>
                </DIV>
                <FOOTER>
                  <small>&copy;2023 Francis Kamau</small>
                </FOOTER>
    </BODY>
</HTML>
