<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"> </SCRIPT>
                <TITLE>Star Wars Movie Guide</TITLE>
                <LINK rel="stylesheet" href="../static/styles/common.css?{{ cache_id }}"/>
                <LINK rel="stylesheet" href="../static/styles/header.css?{{ cache_id }}"/>
                <LINK rel="stylesheet" href="../static/styles/index.css?cache_id={{ cache_id }}"/>
                <SCRIPT SRC="../static/scripts/index.js?{{ cache_id }}"></SCRIPT>
        </HEAD>
    <BODY>
                <HEADER>
                  <div id="header_logo"></div>
		  <DIV class="header_name">Star Wars Movie Guide</DIV>
		  <NAV>
		    <UL class="nav">
		      <LI><A href="/">Home</A></LI>
		      <LI><A href="movies">Films</A></LI>
		      <LI><A href="">Features</A></LI>
		      <LI><A href="">Resources</A></LI>

		  </UL>
		  </NAV>
		  <DIV class="sign"><A href="signup">Sign Up</A></DIV>
		  <DIV class="login"><A href="login">Log In</A></DIV>


                </HEADER>
                <DIV class="container">
                  <SECTION>
		    <ARTICLE class="cta">
		      <H1>Explore the galaxy far, far away with ease.</H1>
		      <H2>
			Embark on an epic journey through the Star Wars universe with our comprehensive Movie Guide. Uncover the secrets of your favorite films, delve into the rich lore, and explore the captivating characters that have captured the hearts of millions across the galaxy. Whether you're a die-hard fan or a newcomer to the franchise, our Star Wars Movie Guide is your ultimate companion. Join us now and may the Force be with you on this incredible adventure!
			</H2>
		    </ARTICLE>
                  </SECTION>
                </DIV>
                <FOOTER>
                  <small>&copy;2023 Francis Kamau</small>
                </FOOTER>
    </BODY>
</HTML>
